@model PlantGuide.Models.Plant
@{
    ViewData["Title"] = "Редактировать";
}

<h2>Редактировать растение</h2>

<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" />

    <input asp-for="Name" class="form-control" placeholder="Название" />
    <input asp-for="ScientificName" class="form-control" placeholder="Научное название" />
    <textarea asp-for="Description" class="form-control" rows="4" placeholder="Краткое описание"></textarea>
    <textarea asp-for="CareInstructions" class="form-control" rows="4" placeholder="Инструкции по уходу"></textarea>

    <label>Фото растения (jpeg, png)</label>

    <div class="file-input">
        <input type="file" name="photo" accept="image/*" />
    </div>

    <div style="margin-top: 10px;" >
        Текущее фото:<br />
        <img src="@(Model.PhotoPath ?? "/images/default.jpg")" 
        alt="Текущее фото"
             style="max-height:160px;border-radius:8px; margin-top: 8px;" />
        </div>

    <div class="form-actions">
        <button type="submit" class="btn-small btn-open">Сохранить</button>
        <a class="btn-ghost" href="@Url.Action("Index")">Отмена</a>
    </div>
</form>
