<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"] - PlantGuide</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css" />
</head>
<body>
    <header class="app-header">
        <div style="display:flex;align-items:center;gap:18px">
            <div class="app-title">СПРАВОЧНИК РАСТЕНИЙ</div>
            <!-- Заменяем значок на понятную ссылку -->
            <a class="btn-ghost" href="javascript:history.back()" 
            style="padding:8px 14px; border-radius:10px;">Назад</a>
        </div>
        <a class="add-btn" href="@Url.Action("Create", "Plants")">Добавить растение</a>
    </header>

    <main class="container-page">
        @RenderBody()
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>